{{ define "content"}}
<div class="res-cons">
    <h3 class="archive-title">
        搜索
        <span class="keyword"></span>
        的结果
    </h3>

    <article class="post">
        <header>
            <h1 class="post-title">
                <a href="链接">标题</a>
            </h1>
        </header>
        <date class="post-meta meta-date">
            2019年12月01日
        </date>
        <div class="post-content">
            概要……
            <p class="readmore"><a href="链接">阅读全文</a></p>
        </div>
    </article>

</div>

<script type="text/javascript">
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    $(document).ready(function () {
        var q = getUrlParameter("q");
        $("span.keyword").text(q);
        $("article.post").remove();
        $.ajax({
            url: '{{"js/index.json"|absURL}}',
            dataType: "json",
            success: function (data) {
                lunr.zh = function () {
                    this.pipeline.reset();
                    this.pipeline.add(lunr.zh.trimmer, lunr.stopWordFilter, lunr.stemmer);
                };

                lunr.zh.trimmer = function (token) {
                    return token.update(str => {
                        if (/[\u4E00-\u9FA5\uF900-\uFA2D]/.test(str)) return str;
                        return str.replace(/^\W+/, "").replace(/\W+$/, "");
                    });
                };

                lunr.Pipeline.registerFunction(lunr.zh.trimmer, "trimmer-zh");

                const idx = lunr(function () {
                    this.use(lunr.zh);
                    this.ref("uri")
                    this.field("content")
                    this.field("tags")
                    this.field("categories")
                    this.field("title")
                    data.forEach(function (e) {
                        this.add(e);
                    }, this);
                })

                const result = idx.search(q);
                const hitRefs = result.map(e => e.ref);
                result.forEach(e => {
                    const item = data.filter(d => d.uri == e.ref)[0];
                    const oriTitle = item['oriTitle']
                    const content = item['content']
                    const title = item['title']

                    const uri = item['uri']
                    const score = result.filter(f => uri == f.ref)[0]['score']
                    let searchItem =
                        `<article class="post"><header><h1 class="post-title"><a href="` +
                        uri + `">` + oriTitle + `</a></h1></header>`;
                    const pubDate = new Date(item['date'])
                    searchItem += `<date class="post-meta meta-date">` + pubDate
                        .getFullYear() + `年` + (pubDate.getMonth() + 1) + `月` + pubDate
                        .getDate() + `日&nbsp; 匹配度：` + score + `</date>`;
                    searchItem += `<div class="post-content">` + item['content'].replace(
                            /\s*/g, "").substring(0, 100) +
                        `……<p class="readmore"><a href="` +
                        uri + `">阅读全文</a></p></div></article>`;

                    $("div.res-cons").append(searchItem);
                })
            }
        });
    });
</script>
{{ end }}